* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ol,
ul {
  margin: 0rem;
  padding: 0;
}
button {
  border: 0;
  outline: 0;
  background: transparent;
}
ul li {
  list-style: none;
}

.payment_container {
  background-color: #f2f3f8;
  min-height: 100vh;
}
.payment_container_details {
  display: grid;
  justify-content: center;
}
.payment_steps {
  width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.payment_steps_info {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  margin: 0 30px;
  color: #6666;
}
.payment_steps_info i {
  font-size: calc(25px + (40 - 25) * (100vw - 320px) / (2100 - 320));
}
.payment_steps_info p {
  font-size: calc(13px + (17 - 13) * (100vw - 320px) / (2100 - 575));
}
.fa-angle-right {
  font-size: calc(15px + (20 - 15) * (100vw - 320px) / (2100 - 320));
  color: #bebebe66;
}

.p_active {
  color: #f67963;
}
.con_active {
  color: #00ae6e;
}

/* my-cart start */
.my_cart {
  width: 1000px;
  border-bottom: 1px solid #6666;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  background-color: #fff;
}
.my_cart_details_head,
.my_cart_details_content {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #6666663a;
}
.my_cart_details_head {
  color: #666;
}
.my_cart_details_content .cart_product_img_name {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #666;
}
.my_cart_details_content .cart_product_img_name img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.my_cart_details_content .cart_product_price {
  color: #000;
}
.my_cart_details_content .cart_product_quantity {
  border: 1px solid #6666663a;
  border-radius: 20px;
  padding: 2px 10px;
  user-select: none;
}
.cart_product_quantity button {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 5px 12px;
}
.cart_product_total {
  font-weight: 600;
}
.cart_product_delete i {
  padding: 10px;
  border-radius: 50%;
  background-color: #ffb1a32e;
  color: #fe6246;
  transition: 0.3s;
  cursor: pointer;
}
.cart_product_delete i:hover {
  padding: 10px;
  border-radius: 50%;
  background-color: #f67963;
  color: #fff;
}

.subtotal,
.my_cart_bottom_btn {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}
.subtotal p {
  color: #666;
  font-weight: 600;
}
.subtotal h5 {
  color: #666;
  font-weight: 600;
}
.my_cart_bottom_btn {
  margin-bottom: 15px;
}
.continue_to_shipping a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-color: #f67963;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
}
.return_to_shop i,
.return_to_shop a {
  color: #f67963;
  font-size: 14px;
}
/* my-cart-details end */

/* shopping_info */
.shopping_info {
  width: 1000px;
  background-color: #fff;
  margin: 0 auto;
}

/* The Modal (background) */
.shipping_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.shipping_modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px 20px 20px 20px;
  border: 1px solid #888;
  width: 600px;
}
.s_m_c_head {
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s_m_c_head p {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #666;
}
.s_m_c_body {
  padding-top: 20px;
}

.form-control:focus {
  box-shadow: none;
}
.s_m_c_body .form-control:focus {
  border-color: #f67963;
}

.shipping_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
}

.shipping_close:hover,
.shipping_close:focus {
  color: #fe6246;
  text-decoration: none;
  cursor: pointer;
}
.shipping_i_add_address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2rem;
}
.shipping_i_a_n_address {
  width: 100%;
  cursor: pointer;
  user-select: none;
  border: 1px solid #dcdcdc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.shipping_i_a_n_a_info {
  color: #666;
  font-size: 16px;
}
.circle_btn {
  float: right;
  color: #666;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}
.circle_btn:hover {
  background-color: #eee;
}
.circle_btn:focus-within {
  border: 1px solid #eeee;
}
.s_address_Edit_none {
  display: none;
}
.s_a_Edit_show li:hover {
  background-color: #eee;
}
.s_a_Edit_show li {
  padding: 0px 5px;
  color: #fe6246;
}
.s_a_Edit_show {
  display: block;
  border: 1px solid #eee;
  background-color: #fff;
  width: 150px;
  position: absolute;
  display: grid;
  gap: 5px;
  z-index: 1;
  right: 50px;
  top: 10px;
}
.address_save_btn{
  color: #fff;
  background-color: #fe6246;
  padding: 7px 30px;
  margin-top: 20px;
  font-family: sans-serif;
}

.secect_s_info {
  border: 1px solid #fe6246;
}
#shipping_my_btn {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 120px;
  border: 1px solid #dcdcdc;
  color: #666;
  font-size: 16px;
  cursor: pointer;
}
#shipping_my_btn i {
  font-size: 22px;
}




/* delivery info */
.delivery_info{
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}
.d_product{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px 20px;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
}
.d_product img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.d_product p{
  color: #666;
}
.delivery_info_head{
  font-size: 20px;
  border-bottom: 1px solid #eee;
  padding: 20px;
  color: #666;
}
.delivery_information{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.di_head{
  font-size: 18px;
  color: #666;
}
.delivery_option label{
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 10px;
  color: #666;
  cursor: pointer;
  user-select: none;
}





















@media screen and (max-width: 1200px) {
  /* payment-steps */
  .payment_steps {
    width: 992px;
  }
  .payment_steps_info {
    grid-gap: 5px;
    margin: 0 15px;
  }

  /* my-cart start */
  .my_cart {
    width: 850px;
  }

  /* shopping_info */
  .shopping_info {
    width: 768px;
  }
  .s_a_Edit_show {
    width: 100px;
  }

  /* delivery info */
.delivery_info{
  width: 90%;
}
}

@media screen and (max-width: 992px) {
  /* payment-steps */
  .payment_steps {
    width: 768px;
  }
  /* my-cart start */
  .my_cart {
    width: 680px;
  }
  .cart_product_quantity button {
    border: none;
    outline: none;
    background-color: #fff;
    padding: 5px 9px;
  }

  /* shopping_info */
  .shopping_info {
    width: 500px;
  }
  .shipping_i_add_address {
    grid-template-columns: 1fr;
  }
  /* delivery info */
.delivery_option{
  display: grid;
  gap: 0.5rem;
}
}
@media screen and (max-width: 768px) {
  /* payment-steps */
  .payment_steps {
    width: 100%;
  }
  .payment_steps_info {
    margin: 0 10px;
  }
  .fa-angle-right {
    display: none !important;
  }
  /* my-cart */
  .my_cart {
    width: 500px;
  }
  .my_cart_details_head,
  .my_cart_details_content {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
  }
  .cart_product_price,
  .price {
    display: none;
  }
  .cart_product_quantity button {
    padding: 0 4px;
  }
  /* shopping_info */
  .shipping_modal_content {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  /* payment-steps */
  .payment_steps {
    flex-direction: column;
    width: 100%;
  }
  .payment_steps_info {
    margin: 5px;
    padding: 5px;
    width: 300px;
    display: flex;
    border-radius: 5px;
  }
  .p_active {
    border: 1px solid #f67963;
    background-color: #ffeeeb52;
  }
  .con_active {
    border: 1px solid #00ae6e;
    background-color: #dbfff253;
  }

  .payment_steps_info p {
    font-size: 14px;
  }
  .payment_steps_info i {
    font-size: 30px;
  }
  /* my-cart */
  .my_cart {
    width: 100%;
  }
  .my_cart_details_content .cart_product_img_name {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .cart_product_img_name P {
    font-size: 14px;
  }
  .my_cart_details_content .cart_product_img_name img {
    width: 50px;
    height: 50px;
  }
  .cart_product_quantity,
  .quantity {
    display: none;
  }
  .cart_product_total {
    font-size: 15px;
  }
  .my_cart_details_head,
  .my_cart_details_content {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .my_cart_bottom_btn {
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
  }
  /* shopping_info */
  .shopping_info {
    width: 300px;
  }
  /* delivery info */
  .delivery_information{
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
  .d_product {
    margin: 10px 0;
  }
}
