* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.payment-steps {
  width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.my-cart,
.check-out,
.payment,
.confirmation {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  margin: 0 30px;
  color: #6666;
}
.my-cart i,
.check-out i,
.payment i,
.confirmation i {
  font-size: 30px;
}
.fa-angle-right {
  font-size: 20px;
  color: #bebebe66;
}
.my-cart p,
.check-out p,
.payment p,
.confirmation p {
  font-size: 17px;
}
.p-active {
  color: #f67963;
}
.con-active {
  color: #00ae6e;
}

@media screen and (max-width: 1000px) {
  .payment-steps {
    width: 80%;
    margin-left: 10%;
  }
  .my-cart,
  .check-out,
  .payment,
  .confirmation {
    grid-gap: 5px;
    margin: 0 15px;
  }
  .my-cart i,
  .check-out i,
  .payment i,
  .confirmation i {
    font-size: 20px;
  }
  .my-cart p,
  .check-out p,
  .payment p,
  .confirmation p {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .my-cart,
  .check-out,
  .payment,
  .confirmation {
    grid-gap: 5px;
    margin: 0 5%;
  }
  .my-cart p,
  .check-out p,
  .payment p,
  .confirmation p {
    display: none;
  }
  .fa-angle-right {
    font-size: 15px;
  }
}
