@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
h2,
p {
  margin-bottom: 0;
}
.full_pop_up_model_cart,
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.full_pop_up_model_cart {
  height: 100vh;
}

.modal-btn {
  border: none;
  background: #6a3a97;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: transparent;
  z-index: 99999;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.modal-content {
  box-shadow: 0 10px 15px -3px #0000;
  position: fixed;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  right: -500px;
  transition: all 0.3s ease-in-out;
  z-index: 888;
  background-color: #fff;
  overflow-y: auto;
}
.modal-container.active {
  background: #0005;
  pointer-events: all;
}
.modal-container.active .modal-content {
  right: 0;
}

.modal-header {
  background: #ef6d24;
  padding: 5px;
  color: #fff;
  justify-content: space-between;
}
.modal-container .modal-header h2 {
  font-size: calc(16px + (22 - 16) * (100vw - 320px) / (2100 - 320));
  text-align: center;
  margin: 5px 20px;
}
.modal-container .modal-header .close-btn {
  cursor: pointer;
  padding: 0 20px;
  font-size: 22px;
}

/* modal-body */
.modal-body {
  padding: 20px;
  max-height: 85vh;
  overflow-x: hidden;
}
/* popup_empty_cart */
.popup_empty_cart {
  display: grid;
  justify-items: center;
}
.popup_empty_cart img {
  width: 150px;
}
.popup_empty_cart h6 {
  font-size: calc(13px + (15 - 13) * (100vw - 320px) / (2100 - 320));
  font-weight: 600;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}
.popup_empty_cart p {
  font-size: calc(12px + (14 - 12) * (100vw - 320px) / (2100 - 320));
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}
.popup_empty_cart a {
  font-size: calc(12px + (14 - 12) * (100vw - 320px) / (2100 - 320));
  background-color: #ef6d24;
  text-decoration: none;
  padding: 7px 45px;
  color: #fff;
  border-radius: 5px;
}
.model_sub_total {
  /* border-top: 1px solid #e3e3e3; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding-bottom: 10px;
}
.model_sub_total_price {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  color: #ef6d24;
  font-size: calc(15px + (17 - 15) * (100vw - 320px) / (2100 - 320));
}
.model_sub_total_btn {
  display: flex;
  justify-content: center;
  margin: 2% 40px;
}
.model_sub_total_btn a {
  text-decoration: none;
  color: #fff;
  font-size: calc(15px + (17 - 15) * (100vw - 320px) / (2100 - 320));
}
#model_checkout {
  background-color: #ef6d24;
  padding: 10px 25%;
  border-radius: 5px;
}

/* popup_model_product */
.popup_model_product_item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px;
}
.popup_m_p_i_info {
  display: flex;
  gap: 1rem;
  align-items: start;
}
.popup_m_p_i_info img {
  width: 80px;
}
.popup_m_p_i_info p {
  font-size: calc(10px + (13 - 10) * (100vw - 320px) / (2100 - 320));
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  border: 1px solid #cacaca;
  padding: 2px 5px;
  border-radius: 5px;
  display: inline-block;
}
.popup_m_p_i_info a {
  font-size: calc(14px + (16 - 14) * (100vw - 320px) / (2100 - 320));
  font-family: Arial, Helvetica, sans-serif;
  color: #ef6d24;
  text-decoration: none;
}
.popup_m_p_i_i_name {
  display: grid;
  align-items: center;
}
.popup_m_p_i_i_right {
  display: grid;
  justify-items: center;
}
.popup_m_p_i_i_right i {
  background-color: #ef6e2427;
  color: #ef6d24;
  padding: 5px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.popup_m_p_i_i_right i:hover {
  background-color: #ef6d24;
  color: #fff;
}
.popup_m_p_i_i_r_qun {
  border: 1px solid rgb(228, 228, 228);
  padding: 2px 8px;
  margin: 10px 0;
  border-radius: 20px;
  color: #666;
  display: flex;
  align-items: center;
}
.popup_m_p_i_i_r_qun input {
  width: 20px;
  border: none;
  outline: none;
  padding: 0 5px;
  text-align: center;
}
.popup_m_p_i_i_r_qun button {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 2px 7px;
}
.popup_m_p_i_i_right p {
  font-size: calc(14px + (16 - 14) * (100vw - 320px) / (2100 - 320));
}

@media screen and (max-width: 576px) {
  .modal-content {
    bottom: -100vh;
    right: 0;
  }
  .modal-container.active {
    background: #0005;
    pointer-events: all;
  }
  .modal-container.active .modal-content {
    bottom: 0;
  }

  .modal-body {
    padding: 10px;
  }
  .popup_model_product_item {
    gap: 0.5rem;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
  }
  .popup_m_p_i_info img {
    width: 60px;
  }
  .popup_m_p_i_info {
    gap: 0.5rem;
  }
}
